# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Electron
out/
dist/
build/
*.app
*.dmg
*.exe
*.deb
*.rpm
*.pkg

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Logs
*.log
logs/
*.log.*

# Environment variables
.env
.env.local
.env.*.local
*.env

# Temporary files
*.tmp
*.temp
temp.py
*.swp
*.swo
*~

# IDE
*.sublime-project
*.sublime-workspace
.project
.classpath
.settings/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Local
local/

# Rust
**/target/
**/*.rs.bk
**/Cargo.lock
**/*.pdb
**/*.rlib
**/*.rmeta
**/*.a
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.d
**/*.o
**/*.rcgu.o
**/.cargo-lock
**/.rustc_info.json
**/CACHEDIR.TAG
**/.fingerprint/
**/incremental/
